<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<title>Planets - All</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div>
			<a class="navbar-brand mb-0 h1" href="/">Home</a>
		</div>
		<div>
			<span class="navbar-text"
				th:text="|Web Server Address: ${hostAddress}|"></span>
		</div>
	</nav>

	<div class="container">
		<table class="table table-striped">
			<caption class="text-center">Planets - All</caption>
			<thead>
				<tr>
					<th class="text-center" scope="col">Order</th>
					<th class="text-center" scope="col">Name</th>
					<th class="text-center" scope="col">Diameter</th>
					<th class="text-center" scope="col">Size to Earth</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${planets}">
					<th class="text-center" scope="row"
						th:text="${item.getPlanetOrder()}" />
					<td class="text-center" th:text="${item.getPlanetName()}" />
					<td class="text-right" th:text="|${item.getPlanetDiameterKm()} km|" />
					<td class="text-right"
						th:text="|${item.getPlanetSizeToEarth()}x Earth|" />
				</tr>
			</tbody>
		</table>
	</div>

	<footer class="page-footer font-small">
		<h6 class="text-center">
			Data above quoted from <a target="_blank"
				href="https://www.timeanddate.com/astronomy/planets/size">timeanddate.com</a>
		</h6>
	</footer>
</body>
</html>
