<!DOCTYPE html>
<html>
<head lang="en">
<title>Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div>
			<a class="navbar-brand mb-0 h1" href="/">Home</a>
		</div>
		<div>
			<span class="navbar-text"
				th:text="|Web Server Address: ${hostAddress}|"></span>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<h1 class="text-center">Minikube Demo</h1>
			<hr />
			<h4>This demonstrates a single-machine 3-tier architecture with
				Minikube.</h4>
			<ul class="list-group">
				<li class="list-group-item">Data Tier (<a target="_blank"
					href="http://www.h2database.com">H2</a>)
				</li>
				<li class="list-group-item">Web Tier (<a target="_blank"
					href="https://spring.io/projects/spring-boot">Spring Boot</a> and <a
					target="_blank" href="https://www.thymeleaf.org">Thymeleaf</a>)
				</li>
				<li class="list-group-item">Front-end Tier (<a target="_blank"
					href="https://kubernetes.io/docs/concepts/services-networking/service">Kubernetes
						Services</a>)
				</li>
			</ul>
		</div>
		<div class="text-center">
			<a href="/web/planet/all" class="btn btn-info" role="button">Click
				here to query solar system planet details from H2 database.</a>
		</div>
	</div>
</body>
</html>
